[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.12"
django-heroku = "==0.3.1"
gunicorn = "==20.1.0"
typing-extensions = "==4.1.1"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"
pytest-mock = "*"
codecov = "*"

[requires]
python_version = "3.8"
